[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
pandas = "~=1.2"
numpy = "~=1.20"
pyvisa = "~=1.11"
python-dotenv = "*"
Django = "~=3.1"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "python manage.py runserver"
test = "python manage.py test"
