h1 {
  margin: 15px 15px 15px 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.links {
  margin-top: 10px;
  margin-bottom: 15px;
}

.link {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid rgba(130, 130, 130);
  border-radius: 3px;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(130, 130, 130, 0.3);
}

#fft-toggle {
  margin: 0 auto;
  width: fit-content;
}
