<div id="control-area">
  <div class="slow-stage">
    <h3>Step stage controller</h3>
    <form id="stage-move" action="{% url 'core:move' %}" method="POST">
      <input
        type="number"
        name="slow-stage-target-position"
        id="stage-position"
      />
      <input type="hidden" id="save-type" value="RAPID" />
      <input type="submit" value="Move" id="slow-stage-move" />
    </form>
  </div>
  <div class="fast-stage">
    <h3>Fast stage controller</h3>
    <div class="form-module">
      <p>Sampling rate (kHz):</p>
      <form class="form-area" id="sampling-rate-form" action="" method="POST">
        <input type="number" id="sampling-rate-area" name="sampling-rate" />
      </form>
      <p class="hide invalid-value" id="sampling-rate-alert">
        Sampling rate should be between 0 and 100 kHz
      </p>
    </div>
    <div class="form-module">
      <p>Measurement time (s):</p>
      <form class="form-area">
        <input type="number" id="measurement-time-area" name="measurement-time" />
      </form>
    </div>
    <div id="start-button-area">
      <form class="form-area" id="rapid-scan" action="{% url 'core:start' %}" method="POST">
        <input type="submit" value="Start" id="start-button" />
      </form>
    </div>
    <div class="save-module">
      <form id="save-data" action="{% url 'core:save' %}" method="POST">
        <input type="text" id="save-area" value="C:/Users/suzuki/Desktop/"/>
        <input type="submit" value="Save" id="save-button" />
      </form>
    </div>
  </div>
</div>
