<div id="control-area">
  <nav class="panel-nab">
    <ul class="tab tab-block">
      <li class="tab-item active">
        <a>TDS</a>
      </li>
      <li class="tab-item">
        <a>Lock-in</a>
      </li>
      <li class="tab-item">
        <a>Temp. & Field</a>
      </li>
    </ul>
  </nav>
  <div class="tab-content show">
    <form class="form-group" id="stage-move" action="{% url 'core:move' %}">
      <label class="form-label" for="stage-position">Move step-motor stage:</label>
      <div class="input-group" id="move-stage-area">
        <input class="form-input input-lg" type="number" id="stage-position" />
        <span class="input-group-addon addon-lg">&mu;m</span>
        <button class="btn btn-secondary btn-lg input-group-btn">
          Move
        </button>
      </div>
    </form>
    <form class="form-group" id="tds-settings" action="{% url 'core:tds_data' %}">
      <div class="input-group" id="stage-position-settings">
        <input 
          class="form-input input-lg" 
          type="number" 
          id="start-position" 
          placeholder="Start"
        />
        <input 
          class="form-input input-lg" 
          type="number" 
          id="end-position" 
          placeholder="End"
        />
        <input 
          class="form-input input-lg" 
          type="number" 
          id="moving-step" 
          placeholder="Step"
        />
        <span class="input-group-addon addon-lg">&mu;m</span>
      </div>

      <label class="form-label" for="lockin-time">Lock-in time:</label>
      <div class="input-group">
        <input class="form-input input-lg" type="number" id="lockin-time" />
        <span class="input-group-addon addon-lg">ms</span>
      </div>

      <label class="form-label" for="multiscan">Multi scan:</label>
      <div class="input-group">
        <input class="form-input input-lg" type="number" id="multiscan" value="1" />
        <span class="input-group-addon addon-lg">times</span>
      </div>

      <button class="btn btn-primary" id="start-button">
        Start
      </button>
      <div id="scan-status"></div>
    </form>
    <form id="save-data" action="{% url 'core:save' %}">
      <div class="input-group">
        <input 
          class="form-input input-lg" 
          type="text" 
          id="save-area" 
          value="C:/Users/suzuki/Desktop"
        />
        <input type="hidden" id="save-type" value="TDS" />
        <button class="btn btn-primary btn-lg input-group-btn" id="save-button">
          Save
        </button>
      </div>
    </form>
  </div>
  <div class="tab-content hide">
    <label>Sensitivity:</label>
    <form id="sr830-sensitivity" action="{% url 'core:change_sensitivity' %}">
      <div style="display:inline-flex;">
        <div id="sens-highest-order">
          <label class="form-radio">
            <input type="radio" id="one-s" name="sensitivity-num" value="1" />
            <i class="form-icon"></i>1
          </label>
          <label class="form-radio">
            <input type="radio" id="two-s" name="sensitivity-num" value="2" />
            <i class="form-icon"></i>2
          </label>
          <label class="form-radio">
            <input type="radio" id="five-s" name="sensitivity-num" value="5" />
            <i class="form-icon"></i>5
          </label>
        </div>
        <div id="sens-order">
          <label class="form-radio">
            <input type="radio" id="uni-s" name="sensitivity-order" value="1" />
            <i class="form-icon"></i>1
          </label>
          <label class="form-radio">
            <input type="radio" id="ten-s" name="sensitivity-order" value="10" />
            <i class="form-icon"></i>10
          </label>
          <label class="form-radio">
            <input type="radio" id="hundred-s" name="sensitivity-order" value="100" />
            <i class="form-icon"></i>100
          </label>
        </div>
        <div id="sens-unit">
          <label class="form-radio">
            <input type="radio" id="micro-s" name="sensitivity-unit" value="micro-volt" />
            <i class="form-icon"></i>&mu;V
          </label>
          <label class="form-radio">
            <input type="radio" id="milli-s" name="sensitivity-unit" value="milli-volt" />
            <i class="form-icon"></i>mV
          </label>
          <label class="form-radio">
            <input type="radio" id="volt-s" name="sensitivity-unit" value="volt" />
            <i class="form-icon"></i>V
          </label>
        </div>
      </div>
    </form>
    <label>Time constant:</label>
    <form id="sr830-time-const" action="{% url 'core:change_time_const' %}">
      <div style="display:inline-flex;">
        <div id="time-highest-order">
          <label class="form-radio">
            <input type="radio" id="one-t" name="time-num" value="1" />
            <i class="form-icon"></i>1
          </label>
          <label class="form-radio">
            <input type="radio" id="three-t" name="time-num" value="2" />
            <i class="form-icon"></i>3
          </label>
        </div>
        <div id="time-order">
          <label class="form-radio">
            <input type="radio" id="uni-t" name="time-order" value="1" />
            <i class="form-icon"></i>1
          </label>
          <label class="form-radio">
            <input type="radio" id="ten-t" name="time-order" value="10" />
            <i class="form-icon"></i>10
          </label>
          <label class="form-radio">
            <input type="radio" id="hundred-t" name="time-order" value="100" />
            <i class="form-icon"></i>100
          </label>
        </div>
        <div id="time-unit">
          <label class="form-radio">
            <input type="radio" id="micro-t" name="time-unit" value="micro-sec" />
            <i class="form-icon"></i>&mu;s
          </label>
          <label class="form-radio">
            <input type="radio" id="milli-t" name="time-unit" value="milli-sec" />
            <i class="form-icon"></i>ms
          </label>
          <label class="form-radio">
            <input type="radio" id="sec-t" name="time-unit" value="sec" />
            <i class="form-icon"></i>s
          </label>
        </div>
      </div>
    </form>
    <form id="auto-phase" action="{%url 'core:auto_phase' %}">
      <button class="btn btn-primary">Auto Phase</button>
    </form>
  </div>
  <div class="tab-content hide">
    <form class="form-group" id="temp-control">
      <label>Temperature (K):</label>
      <div class="input-group">
        <input class="form-input input-lg" type="number" id="target-temp" />
        <button class="btn btn-primary input-group-btn btn-lg" id="set-temp">Set</button>
      </div>
    </form>
    <form class="form-group" id="field-control">
      <label>Magnetic Field (T):</label>
      <div class="input-group">
        <input class="form-input input-lg" type="number" id="target-field" />
        <button class="btn btn-primary input-group-btn btn-lg" id="set-field">Set</button>
      </div>
    </form>
  </div>
</div>
