<div class="control-area">
  <div class="slow-stage">
    <h3>Slow stage controller</h3>
    <p id="sr830-gpib-intensity">Intensity:</p>
    <form id="stage-move" action="{% url 'core:move' %}" method="POST">
      <input
        type="number"
        name="slow-stage-target-position"
        id="stage-position"
      />
      <input type="hidden" id="save-type" value="RAPID" />
      <input type="submit" value="Move" id="slow-stage-move" />
    </form>
  </div>
  <div class="fast-stage">
    <h3>Fast stage controller</h3>
    <p>Sampling rate (kHz):</p>
    <form id="sampling-rate-form" action="" method="POST">
      <input type="number" id="sampling-rate-area" name="sampling-rate" />
      <input type="submit" value="Set" id="set-sampling-rate" />
    </form>
    <p class="hide invalid-value" id="sampling-rate-alert">
      Sampling rate should be between 0 and 100 kHz
    </p>
    <p>Measurement time (s):</p>
    <form id="rapid-scan" action="{% url 'core:scan' %}" method="POST">
      <input type="number" id="measurement-time-area" name="measurement-time" />
      <input type="submit" value="Set" id="set-measurement-time" />
      <p></p>
      <input type="submit" value="Start" id="start-button" />
    </form>
    <p></p>
    <form id="save-data" action="{% url 'core:save' %}" method="POST">
      <input type="text" id="save-area" />
      <input type="submit" value="Save" id="save-button" />
    </form>
  </div>
</div>
