<div id="control-area">
  <div class="slow-stage">
    <h4>Step stage controller</h4>
    <form 
      class="form-group"
      id="stage-move" 
      action="{% url 'core:move' %}" 
      method="POST"
    >
      <div class="input-group">
        <input
          class="form-input input-lg"
          type="number"
          name="slow-stage-target-position"
          id="stage-position"
        />
        <input type="hidden" id="save-type" value="RAPID" />
        <button 
          class="btn btn-secondary btn-lg input-group-btn" 
          id="slow-stage-move"
        >
          Move
        </button>
      </div>
    </form>
  </div>
  <div class="fast-stage">
    <h4>Fast stage controller</h4>
    <div class="form-module">
      <form class="form-group" id="sampling-rate-form" action="" method="POST">
        <div class="input-group">
          <input 
            class="form-input input-lg" 
            type="number" 
            id="sampling-rate-area" 
            name="sampling-rate" 
            placeholder="Sampling rate" 
          />
          <span class="input-group-addon addon-lg">kHz</span>
        </div>
      </form>
      <p class="hide invalid-value" id="sampling-rate-alert">
        Sampling rate should be between 0 and 100 kHz
      </p>
    </div>
    <div class="form-module">
      <form class="form-group">
        <div class="input-group">
          <input 
            class="form-input input-lg" 
            type="number" 
            id="measurement-time-area" 
            name="measurement-time" 
            placeholder="Measurement time"
          />
          <span class="input-group-addon addon-lg">s</span>
        </div>
      </form>
    </div>
    <div>
      <form 
        class="form-group" 
        id="rapid-scan" 
        action="{% url 'core:start' %}" 
        method="POST"
      >
        <button class="btn btn-primary btn-lg" id="start-button">Start</button>
      </form>
    </div>
    <div class="save-module">
      <form 
        class="form-group" 
        id="save-data" 
        action="{% url 'core:save' %}" 
        method="POST"
      >
        <div class="input-group">
          <input 
            class="form-input input-lg" 
            type="text" 
            id="save-area" 
            value="C:/Users/suzuki/Desktop/"
          />
          <button 
            class="btn btn-primary btn-lg input-btn-group" 
            id="save-button"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
