{% load static %}
<html>
  <header>
    <meta charset="utf-8" />
    <title>THz-TDS measurement</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/css/index.css' %}"
    />
    <script
      type="text/javascript"
      src="{% static 'core/js/index.js' %}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{% static 'core/js/chart.min.js' %}"
    ></script>
    <script type="text/javascript">
      let x = {{ position }};
      let y = {{ intensity }};
      let slow_stage = "http://localhost:8000/core/move/";
    </script>
    <script src="{% static 'core/js/plot_spectl.js' %}" defer></script>
    <script src="{% static 'core/js/ajax.js' %}" defer></script>
  </header>
  <body>
    <main>
      <h1>THz-TDS measurement</h1>
      <div id="container">
        <div class="plot-area">
          <div id="coord"></div>
          <canvas id="canvas" width="600" height="400"></canvas>
        </div>
        <div class="control-area">
          <div class="slow-stage">
            <h3>Slow stage controller</h3>
            <form id="ajax-slow-stage" action="" method="POST">
              {% csrf_token %}
              <input
                type="text"
                name="slow-stage-target-position"
                id="slow-stage-position"
              />
              <input type="submit" value="Move" id="slow-stage-move" />
            </form>
          </div>
          <div class="fast-stage">
            <h3>Fast stage controller</h3>
            <p>Sampling rate (kHz):</p>
            <input type="text" id="sampling-rate-area" name="sampling-rate" />
            <input type="button" value="Set" id="set-sampling-rate" />
            <p class="hide invalid-value" id="sampling-rate-alert">
              Sampling rate should be between 0 and 100 kHz
            </p>
            <p>Measurement time (s):</p>
            <input
              type="text"
              id="measurement-time-area"
              name="measurement-time"
            />
            <input type="button" value="Set" id="set-measurement-time" />
            <p></p>
            <input type="button" value="Start" id="start-button" />
            <p></p>
            <input type="text" id="save-area" />
            <!--
            <input type="file" value="..." id="select-folder" />
            -->
            <input type="button" value="Save" id="save-button" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
