{% load static %}
{% load sass_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>THz-TDS measurement</title>
    <script
      type="text/javascript"
      src="{% static 'core/js/plotly-2.3.0.min.js' %}"
    ></script>
    <script src="{% static 'core/js/ajax_common.js' %}" defer></script>
    <script src="{% static 'core/js/ajax_tds.js' %}" defer></script>
    <script src="{% static 'core/js/plot_spectl.js' %}" defer></script>
    <script src="{% static 'core/js/tab.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'spectre.min.css' %}" />
    <link rel="stylesheet" href="{% static 'spectre-icons.min.css' %}" />
    <link rel="stylesheet" href="{% sass_src 'layout.scss' %}"/>
    <link rel="stylesheet" href="{% sass_src 'core/css/main.scss' %}"/>
    <link rel="stylesheet" href="{% sass_src 'core/css/step.scss' %}" />
  </head>
  <body>
    <header>
      {% include "core/header.html" %}
    </header>
    <main id="main">
      <div class="container">
        <div class="columns">
          <div class="col-7">
            {% include "core/plot_step.html" %}
          </div>
          <div class="col-4" style="padding: 0 5px 0 20px;">
            {% include "core/controller_step.html" %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
