{% extends 'core/base.html' %} {% load static %}{% block jsload %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'core/css/index.css' %}"
/>
<link rel="stylesheet" type="text/css" href="{% static 'core/css/tds.css' %}" />
<script type="text/javascript">
  let x = [1, 2, 3]; // {{ position }};
  let y = [1, 2, 3]; // {{ intensity }};

  let tds_boot_url = "http://localhost:8000/core/tds-boot/";
</script>
<script src="{% static 'core/js/ajax_tds.js' %}" defer></script>
{% endblock %} {% block fft-type %}
<input type="hidden" id="fft-type" value="TDS" />
{% endblock %}{% block content %}
<div class="tabs">
  <input id="tds" type="radio" name="tab_item" checked />
  <label class="tab_item" for="tds">TDS</label>
  <input id="sr830" type="radio" name="tab_item" />
  <label class="tab_item" for="sr830">Lock-in</label>
  <input id="temp_field" type="radio" name="tab_item" />
  <label class="tab_item" for="temp_field">Temp. & Field</label>
  <div class="tab_content" id="tds_content">
    <form id="stage-move" action="{% url 'core:move' %}">
      <p>Move stage:</p>
      <input type="number" id="stage-position" /> &mu;m
      <input type="submit" value="Move" />
    </form>
    <form id="tds-settings" action="{% url 'core:tds_data' %}">
      <div id="stage-position-settings">
        <div id="start">
          <p>Start:</p>
          <input type="number" id="start-position" /> &mu;m
        </div>
        <div id="end">
          <p>End:</p>
          <input type="number" id="end-position" /> &mu;m
        </div>
        <div id="step">
          <p>Step:</p>
          <input type="number" id="moving-step" /> &mu;m
        </div>
      </div>
      <p>Lock-in time:</p>
      <input type="number" id="lockin-time" /> ms
      <input type="submit" value="Start" id="start-button" />
    </form>
    <form id="save-data" action="{% url 'core:save' %}">
      <p>Save Data:</p>
      <input type="text" id="save-area" />
      <input type="hidden" id="save-type" value="TDS" />
      <input type="submit" id="save-button" value="Save" />
    </form>
  </div>
  <div class="tab_content" id="sr830_content">
    <p id="sr830-gpib-intensity">Intensity:</p>
    <div id="sr830-sensitivity">
      <p>Sensitivity:</p>
      <div id="sens-highest-order">
        <div>
          <input type="radio" id="one" name="sensitivity-num" />
          <label for="one">1</label>
        </div>
        <div>
          <input type="radio" id="two" name="sensitivity-num" />
          <label for="two">2</label>
        </div>
        <div>
          <input type="radio" id="five" name="sensitivity-num" />
          <label for="five">5</label>
        </div>
      </div>
      <div id="sens-order">
        <div>
          <input type="radio" id="uni" name="sensitivity-order" />
          <label for="uni">1</label>
        </div>
        <div>
          <input type="radio" id="ten" name="sensitivity-order" />
          <label for="ten">10</label>
        </div>
        <div>
          <input type="radio" id="hundred" name="sensitivity-order" />
          <label for="hundred">100</label>
        </div>
      </div>
      <div id="sens-unit">
        <div>
          <input type="radio" id="micro" name="sensitivity-unit" />
          <label for="micro">&mu;V</label>
        </div>
        <div>
          <input type="radio" id="milli" name="sensitivity-unit" />
          <label for="milli">mV</label>
        </div>
        <div>
          <input type="radio" id="volt" name="sensitivity-unit" />
          <label for="sec">V</label>
        </div>
      </div>
    </div>
    <div id="sr830-time-const">
      <p>Time-Constant:</p>
      <div id="time-highest-order">
        <div>
          <input type="radio" id="one" name="time-num" />
          <label for="one">1</label>
        </div>
        <div>
          <input type="radio" id="three" name="time-num" />
          <label for="three">3</label>
        </div>
      </div>
      <div id="sens-order">
        <div>
          <input type="radio" id="uni" name="time-order" />
          <label for="uni">1</label>
        </div>
        <div>
          <input type="radio" id="ten" name="time-order" />
          <label for="ten">10</label>
        </div>
        <div>
          <input type="radio" id="hundred" name="time-order" />
          <label for="hundred">100</label>
        </div>
      </div>
      <div id="sens-unit">
        <div>
          <input type="radio" id="micro" name="time-unit" />
          <label for="micro">&mu;s</label>
        </div>
        <div>
          <input type="radio" id="milli" name="time-unit" />
          <label for="milli">ms</label>
        </div>
        <div>
          <input type="radio" id="sec" name="time-unit" />
          <label for="sec">s</label>
        </div>
      </div>
    </div>
    <div><input type="button" value="Auto Phase"></input></div>
  </div>
  <div class="tab_content" id="temp_field_content">
    <form id="temp-control">
      <p>Temperature (K): </p>
      <input type="number" id="target-temp" />
      <input type="submit" id="set-temp" value="Set"/>
    </form>
    <form id="field-control">
      <p>Magnetic Field (T): </p>
      <input type="number" id="target-field" />
      <input type="submit" id="set-field" value="Set"/>
    </form>
  </div>
</div>
{% endblock %}
