/*
 Base layout
*/
$gray-color: rgb(130, 130, 130);
$gray-color-clear: rgba(130, 130, 130, 0.3);

html {
  width: 100%;
  margin: 0;
  padding: 0;
}


@mixin pc {
	@media (max-width: 900px) {
		@content;
	}
}

body {
	@include pc {
    padding: 10px;
    box-sizing: border-box;
	}

  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 2em;
  font-size: 12px;
  text-align: center;
}

main {
  margin: 10px 20px;
}

p {
  color: $gray-color;
}

a {
	&:visited,
  &:hover,
	&:active {
		color: inherit;
	}
}

/*
 Module
*/
#main {
  .links {
    margin-bottom: 10px;

    a.link {
      margin-right: 10px;
      padding: 5px;
      border: 1px solid $gray-color;
      border-radius: 3px;
      text-decoration: none;

      &:hover {
        background-color: $gray-color-clear;
      }
    }
  }
}

#container {
  display: flex;
  flex-direction: row;
}

#plot-area {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #canvas {
    width: 700px;
    height: 400px;
  }
}

#control-area {
  margin: 0 10px;

  #sampling-rate-area,
  #measurement-time-area {
    width: 50px;
  }

  #start-button {
    font-size: 1.2em;
    width: 100px;
    height: 40px;
  }

  #save-area {
    width: 300px;
  }
}

.invalid-value {
  border-color: red;
  color: red;
}

.hide {
  display: none;
}

#coord,
#status {
  color: grey;
  font-size: 10px;
  height: 15px;
}

.hide {
  visibility: hidden;
  height: 0px;
}

.toggle-switch {
  display: flex;

  .switch__label {
    width: 50px;
    position: relative;
    display: inline-block;
  }
  .switch__content {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    height: 31px;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      top: 0;
      left: 0;
      border: 1.5px solid #e5e5ea;
      border-radius: 30px;
      background-color: #fff;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: transparent;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      border-radius: 30px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }

  .switch__input {
    display: none;

    &:checked {
      ~ .switch__circle {
        left: 21px;
      }

      ~ .switch__content {
        &:after {
          background-color: #00c4cc;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .switch__circle {
    display: block;
    top: 2px;
    left: 2px;
    position: absolute;
    -webkit-box-shadow: 0 2px 6px #999;
    box-shadow: 0 2px 6px #999;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .fft-label {
    margin-top: 4px;
    margin-left: 8px;
  }
}

input[type="number"] {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;

  &:focus {
    border: 1.5px solid dodgerblue;
    outline: 0;
  }

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;

  &:focus {
    border: 1.5px solid dodgerblue;
    outline: 0;
  }
}

input[type="submit"] {
  background-color: rgb(245, 245, 245);
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 15px;
  
  &:hover {
    border: 1px solid green;
    background-color: rgba(0, 255, 0, 0.1);
    cursor: pointer;
  }
}
