/*
 Base layout
*/
$gray-color: rgb(130, 130, 130);
$gray-color-clear: rgba(130, 130, 130, 0.3);


/*
 Module
*/

main {
  #fft-toggle {
    margin: 0 auto;
    width: fit-content;
  }

  > #container {
    display: flex;
    flex-direction: row;

    > #plot-area {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    > #control-area {
      margin: 0 10px;

      #start-button {
        font-size: 1.2em;
        width: 100px;
        height: 40px;
      }

      #save-area {
        width: 300px;
      }
    }
  }
}


%input-area {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.3rem 0.75rem;
  color: #495057;
  font-size: 1rem;
  line-height: 1.5;

  &:focus {
    border: 1.5px solid dodgerblue;
    outline: 0;
  }
}

input[type="number"] {
  @extend %input-area;

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="text"] {
  @extend %input-area;
}

input[type="submit"] {
  // background-color: rgb(245, 245, 245);
  background-color: #007bfe;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 0.3rem 0.75rem;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  &:hover {
    background-color: #465daa;
    cursor: pointer;
  }
}

