#control-area {
  > .slow-stage {
    input#stage-position {
      width: 80px;
    }
  }

  > .fast-stage {
    #sampling-rate-area {
      width: 50px;
    }

    #measurement-time-area {
      width: 50px;
    }

    .form-module {
      display: inline-flex;
    }

    .form-area {
      margin: auto 10px;
    }

    #start-button-area {
      margin: 10px 0;
    }

    .save-module {
      margin-top: 30px;
    }
  }

  .invalid-value {
    border-color: red;
    color: red;
  }

  .running {
    background-color: #dc3545;
  }

  form#sampling-rate-form ~ p.hide {
    display: none;
  }
}
