#control-area {
  width: 450px;

  .show {
    display: block;
  }
  .hide {
    display: none;
  }

  .tab-content {
    #move-stage-area {
      width: 350px;
    }

    #tds-settings {
      margin-top: 40px;
    }

    #start-button {
      margin-top: 20px;
      margin-right: 0;
      margin-left: auto;
    }

    #save-data {
      margin-top: 20px;
    }
  }
}
