#stage-position,
#start-position,
#end-position,
#lockin-time {
  width: 80px;
}

#multiscan {
  width: 40px;
}

#stage-position-settings {
  display: inline-flex;
}

#start,
#end,
#step {
  display: inline-block;
  margin-right: 10px;
}

#start-button {
  margin-left: 100px;
}

#moving-step {
  width: 40px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tabs {
  margin-top: 50px;
  padding-top: 30px;
  background-color: #fff;
  margin: 0 auto;
  width: 450px;
}
.tab_item {
  width: calc(100% / 3);
  height: 40px;
  background-color: #e9e9e9;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  color: #979393;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 30px 10px 0;
  clear: both;
  overflow: hidden;
}

#tds:checked ~ #tds_content,
#sr830:checked ~ #sr830_content,
#temp_field:checked ~ #temp_field_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: lightblue;
  color: #fff;
}

#sr830-sensitivity,
#sr830-time-const {
  display: inline-flex;
  margin-top: 10px;
}

#sens-highest-order,
#sens-order,
#time-highest-order,
#time-order {
  margin-right: 25px;
}
