%input-area {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.3rem 0.75rem;
  color: #495057;
  font-size: 1rem;
  line-height: 1.5;

  &:focus {
    border: 1.5px solid dodgerblue;
    outline: 0;
  }
}

input[type="number"] {
  @extend %input-area;

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="text"] {
  @extend %input-area;
}

input[type="submit"] {
  background-color: #007bfe;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 0.3rem 0.75rem;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  &:hover {
    background-color: #465daa;
    cursor: pointer;
  }
}
